<h1>Sign Up</h1>

<%= form_for :user, url: '/users' do |f| %>
	IGN: <%= f.text_field :ign %>
	Email: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	<%= f.button "Confirm" %>

<% end %>