<ul class="bty-nbty">
	<li class="bountylist"><h2>Bounty List</h2></li>
	<li class="float"><%= link_to "New Bounty", '/bountys/new', {:class=>"new-bounty"} %></li>
</ul>
	<% @bountys.each do |b| %>
		<div class="bountybox">
			<div class="box-content">
				<h3><%= link_to b.target, bounty_path(b.id), {:class=>"target-name-link"} %></h3>
				<ul class="lvl-rwd">
					<li ><span style="font-weight: bold">Level:</span> <% if b.target_level == 0 %>
									<%= "Unknown" %>
								<% else %>
									<%= b.target_level %>
								<% end %></li>
					<li class="reward">Reward: <div class="trying"><%= b.bounty_reward %></div></li>
				</ul><br>
				<p><span style="font-weight: bold">Class:</span> <%= b.target_class %></p>
			</div>
		</div><br>
	<% end %>