<!DOCTYPE html>
<html>
  <head>
    <title>Black Desert Bounty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navibar">
      <ul class="navibar-list">
        <li><%= link_to "Home", :root, {:class=>"navibar-content"} %></li>
        <li><%= link_to "Rules", :root, {:class=>"navibar-content"} %></li>
        <li><%= link_to "About", :root, {:class=>"navibar-content"} %></li>
        <li><%= link_to "Contact", :root, {:class=>"navibar-content"} %></li>
        <% if current_user %>
          <li style="float:right"><%= link_to "Logout", '/logout', {:class=>"navibar-content"} %></li>
          <li style="float:right"><%= link_to current_user.ign, :root, {:class=>"navibar-content"} %></li>
        <% else %>
          <li style="float:right"><%= link_to "Sign Up", '/signup', {:class=>"navibar-content"} %></li>
          <li style="float:right"><%= link_to "Login", '/login', {:class=>"navibar-content"} %></li>
        <% end %>
      </ul>
    </div>
    
    <%= yield %>
  </body>
</html>
